<div class="row">
  <div class="col-md-10 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombres y apellidos</th>
          <th scope="col">Pùesto</th>
          <th scope="col">Salario</th>
          <th scope="col">Fecha asistencia</th>
          <th scope="col">hora entrada</th>
          <th scope="col">hora salida</th>
          <th scope="col">horas extras</th>
          <th scope="col">horas trabajadas</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="empleados">
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
