<div class="row mt-5">
  <div class="mb-3 col-md-5 mx-auto">
    <label for="exampleInputEmail1" class="form-label"> Buscar por nombres y apellidos</label>
    <input [(ngModel)]="search" type="text" placeholder="Buscar..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
  <div class="col-md-10 mx-auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombres y apellidos</th>
          <th scope="col">Pùesto</th>
          <th scope="col">Salario</th>
          <th scope="col">Fecha asistencia</th>
          <th scope="col">hora entrada</th>
          <th scope="col">hora salida</th>
          <th scope="col">horas extras</th>
          <th scope="col">horas trabajadas</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="empleados">
        <tr *ngFor="let empleado of empleados|buscar:search">
          <td> {{empleado.empleado.usuario.nombre}} {{empleado.empleado.usuario.apellido}} </td>
          <td> {{empleado.empleado.puesto.nombre}} </td>
          <td> {{empleado.empleado.salario.salario}} </td>
          <td> {{empleado.fecha}} </td>
          <td> {{empleado.hora_entrada}} </td>
          <td> {{empleado.hora_salida}} </td>
          <td> {{empleado.horas_extra}} </td>
          <td> {{empleado.horas_trabajadas}} </td>
          <td>
          <button class="btn btn-outline-danger" *ngIf="rol==='admin'" (click)="eliminarRegistro(empleado.id)">eliminar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
